.movies {
    padding: 80px 70px 0;
    box-sizing: border-box;
  }
  
  .movies__card-list {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 32px 28px;
  }
  
  .movies__more {
    margin: 60px 0 80px;
    display: flex;
    justify-content: center;
  }
  
  .movies__more-button {
    width: 320px;
    height: 36px;
    border: none;
    border-radius: 6px;
    align-self: center;
    background-color: rgba(249, 249, 249, 1);
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
  }
  
  .movies__more-button:hover {
    background-color: rgba(249, 249, 249, .8);
  }
  
  @media screen and (max-width: 888px) {
    .movies {
      padding: 80px 30px 30px;
    }
  }
  
  @media screen and (max-width: 808px) {
    .movies__card-list {
      grid-template-columns: repeat(auto-fit, 342px);
      gap: 35px 24px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .movies {
      padding: 49px 10px 30px;
    }
  
    .movies__card-list {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 300px);
      row-gap: 15px;
    }
  
    .movies__more {
      margin: 79px 0 31px;
    }
  
    .movies__more-button {
      width: 240px;
      height: 36px;
    }
  }